.DS_Store
.vs/
.vsconfig
Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

Assets/.DS_Store

Bin/

HotUpdate.csproj
HybridCLRData/
JFrame-Unity.sln
Library/
Logs/
Temp/
UserSettings/
obj/
Assets/StreamingAssets/
Assets/StreamingAssets.meta

Assembly-CSharp-firstpass.csproj

CustomToolbar.Editor.csproj
UniTask.Addressables.csproj
UniTask.DOTween.csproj
UniTask.Editor.csproj
UniTask.Linq.csproj
UniTask.TextMeshPro.csproj
UniTask.csproj
Unity Timer.csproj
UnityWebSocket.Editor.csproj
UnityWebSocket.Runtime.csproj

UniFramework.Animation.csproj
UniFramework.Event.csproj
UniFramework.Machine.csproj
UniFramework.Network.csproj
UniFramework.Pooling.csproj
UniFramework.Singleton.csproj
UniFramework.Tween.csproj
UniFramework.Utility.csproj
UniFramework.Window.csproj
Assembly-CSharp-firstpass.Player.csproj
Assembly-CSharp.Player.csproj
HotUpdate.Player.csproj
HybridCLR.Editor.csproj
HybridCLR.Runtime.Player.csproj
HybridCLR.Runtime.csproj
PPv2URPConverters.csproj
PsdPlugin.csproj
UniTask.Addressables.Player.csproj
UniTask.DOTween.Player.csproj
UniTask.Linq.Player.csproj
UniTask.Player.csproj
UniTask.TextMeshPro.Player.csproj
Unity Timer.Player.csproj
Unity.2D.Animation.Editor.csproj
Unity.2D.Animation.Runtime.Player.csproj
Unity.2D.Animation.Runtime.csproj
Unity.2D.Aseprite.Common.csproj
Unity.2D.Aseprite.Editor.csproj
Unity.2D.Common.Editor.csproj
Unity.2D.Common.Path.Editor.csproj
Unity.2D.Common.Runtime.Player.csproj
Unity.2D.Common.Runtime.csproj
Unity.2D.IK.Editor.csproj
Unity.2D.IK.Runtime.Player.csproj
Unity.2D.IK.Runtime.csproj
Unity.2D.PixelPerfect.Editor.csproj
Unity.2D.PixelPerfect.Player.csproj
Unity.2D.PixelPerfect.csproj
Unity.2D.Psdimporter.Editor.csproj
Unity.2D.Sprite.Editor.csproj
Unity.2D.SpriteShape.Editor.csproj
Unity.2D.SpriteShape.Runtime.Player.csproj
Unity.2D.SpriteShape.Runtime.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.2D.Tilemap.Extras.Editor.csproj
Unity.2D.Tilemap.Extras.Player.csproj
Unity.2D.Tilemap.Extras.csproj
Unity.AI.Navigation.Editor.ConversionSystem.csproj
Unity.AI.Navigation.Editor.csproj
Unity.AI.Navigation.Player.csproj
Unity.AI.Navigation.Updater.csproj
Unity.AI.Navigation.csproj
Unity.Burst.CodeGen.csproj
Unity.Burst.Editor.csproj
Unity.Burst.Player.csproj
Unity.Burst.csproj
Unity.CollabProxy.Editor.csproj
Unity.Collections.BurstCompatibilityGen.csproj
Unity.Collections.DocCodeSamples.csproj
Unity.Collections.Player.csproj
Unity.Collections.csproj
Unity.InternalAPIEditorBridge.001.csproj
Unity.InternalAPIEditorBridge.005.csproj
Unity.InternalAPIEngineBridge.001.Player.csproj
Unity.InternalAPIEngineBridge.001.csproj
Unity.Mathematics.Editor.csproj
Unity.Mathematics.Player.csproj
Unity.Mathematics.csproj
Unity.PlasticSCM.Editor.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Runtime.Player.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.RenderPipelines.Universal.Editor.csproj
Unity.RenderPipelines.Universal.Runtime.Player.csproj
Unity.RenderPipelines.Universal.Runtime.csproj
Unity.RenderPipelines.Universal.Shaders.Player.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Unity.Rider.Editor.csproj
Unity.ScriptableBuildPipeline.Editor.csproj
Unity.ScriptableBuildPipeline.Player.csproj
Unity.ScriptableBuildPipeline.csproj
Unity.Searcher.Editor.csproj
Unity.ShaderGraph.Editor.csproj
Unity.ShaderGraph.Utilities.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.Player.csproj
Unity.TextMeshPro.csproj
Unity.Timeline.Editor.csproj
Unity.Timeline.Player.csproj
Unity.Timeline.csproj
Unity.VSCode.Editor.csproj
Unity.VisualScripting.Core.Editor.csproj
Unity.VisualScripting.Core.Player.csproj
Unity.VisualScripting.Core.csproj
Unity.VisualScripting.Flow.Editor.csproj
Unity.VisualScripting.Flow.Player.csproj
Unity.VisualScripting.Flow.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Shared.Editor.csproj
Unity.VisualScripting.State.Editor.csproj
Unity.VisualScripting.State.Player.csproj
Unity.VisualScripting.State.csproj
Unity.VisualStudio.Editor.csproj
UnityEditor.CacheServer.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.Player.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.Player.csproj
UnityEngine.UI.csproj
UnityWebSocket.Runtime.Player.csproj
YooAsset.Editor.csproj
YooAsset.Player.csproj
YooAsset.csproj
Bundles/
ProjectSettings/BurstAotSettings_StandaloneWindows.json
yoo/
Adic.Player.csproj
Adic.csproj
Assembly-CSharp-Editor-firstpass.csproj
Main.Player.csproj
Main.csproj
Assets/StreamingAssets/build_info
Stateless.Player.csproj
Stateless.csproj
Assets/StreamingAssets/build_info.meta
Lofelt.NiceVibrations.Demo.Player.csproj
Lofelt.NiceVibrations.Demo.csproj
Lofelt.NiceVibrations.Editor.csproj
Lofelt.NiceVibrations.Player.csproj
Lofelt.NiceVibrations.csproj
MoreMountains.Feedbacks.Authorizations.Player.csproj
MoreMountains.Feedbacks.Authorizations.csproj
MoreMountains.Feedbacks.Cinemachine.Player.csproj
MoreMountains.Feedbacks.Cinemachine.csproj
MoreMountains.Feedbacks.Editor.csproj
MoreMountains.Feedbacks.HDRP.Player.csproj
MoreMountains.Feedbacks.HDRP.csproj
MoreMountains.Feedbacks.MMTools.Player.csproj
MoreMountains.Feedbacks.MMTools.csproj
MoreMountains.Feedbacks.NiceVibrations.Player.csproj
MoreMountains.Feedbacks.NiceVibrations.csproj
MoreMountains.Feedbacks.Player.csproj
MoreMountains.Feedbacks.PostProcessing.Player.csproj
MoreMountains.Feedbacks.PostProcessing.csproj
MoreMountains.Feedbacks.TextMeshPro.Player.csproj
MoreMountains.Feedbacks.TextMeshPro.csproj
MoreMountains.Feedbacks.URP.Player.csproj
MoreMountains.Feedbacks.URP.csproj
MoreMountains.Feedbacks.csproj
MoreMountains.Tools.Editor.csproj
MoreMountains.Tools.Player.csproj
MoreMountains.Tools.csproj
MackySoft.XPool.Editor.csproj
MackySoft.XPool.Player.csproj
MackySoft.XPool.Tests.Editor.csproj
MackySoft.XPool.csproj
spine-csharp.Player.csproj
spine-csharp.csproj
spine-unity-editor.csproj
spine-unity-examples-editor.csproj
spine-unity-examples.Player.csproj
spine-unity-examples.csproj
spine-unity.Player.csproj
spine-unity.csproj

UniFramework.Event.Player.csproj
UniFramework.Machine.Player.csproj
UniFramework.Utility.Player.csproj
Unity.RenderPipelines.Universal.Config.Runtime.Player.csproj
Unity.RenderPipelines.Universal.Config.Runtime.csproj
